update_config:
  enabled: true
  update_branch_format: version-update/{0}
  labels:
    - version-update
  pr_reviewers:
    - folio-org/kitfox
    - folio-org/fse-platform
  ruleset:
    enabled: true
    pattern: "{0}-eureka-ci"
    required_checks:
      - context: "eureka-ci/release-platform-validation"
    merge_queue:
      enabled: false
      merge_method: "SQUASH"
      grouping_strategy: "ALLGREEN"
      check_response_timeout_minutes: 60
      max_entries_to_build: 5
      max_entries_to_merge: 5
      min_entries_to_merge: 1
      min_entries_to_merge_wait_minutes: 5
    bypass_actors:
      - actor_type: "Integration"
        bypass_mode: "always"

branches:
  - snapshot:
      enabled: true
      name: "FOLIO Snapshot Version"
      description: "FOLIO Snapshot LSP (Library Services Platform) is a set of microservices and applications that provide a complete library management system."
      need_pr: false
      pre_release: "only"
      yarn_lock_update: "always"
      ruleset:
        enabled: false
#  - R2-2024:
#      enabled: true
#      need_pr: true
#      pre_release: "false"
#      yarn_lock_update: "on_package_change"
#      name: "FOLIO Sunflower Release"
#      description: "FOLIO Sunflower LSP (Library Services Platform) is a set of microservices and applications that provide a complete library management system."
#      ruleset:
#        enabled: true
